@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600&family=Heebo:wght@300&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --background: #f5f5f5;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-primary: #E5E7EB;
  --color-gray-secondary: #9CA3AF;
  --color-pale-sky: #6B7280;
  --color-purple: #6C2BD9;
  --color-ebony: #111928;
}



/* GENERAL Styles */

html {
  min-height: 100vh;
  font-size: 90%;
  font-family: 'Heebo', sans-serif;
  
}

@media only screen and (min-width: 81.25em) {
  html {
    font-size: 80.5%; 

  }
}

@media only screen and (max-width: 50em) {

  html {

    font-size: 75%; 
  }
}
@media only screen and (max-width: 29em) {

  html {

    font-size: 63%; 
  }
}

@media only screen and (max-width: 25em) {
  html {
    font-size: 55%; 

  }

}

body {
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    margin:2rem;
    background: var(--background);
   
}

.container {
  margin: auto;
  max-width: 376px;
  padding: 2rem;
}



img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}


a {
  text-decoration: none;
}

ul {
  list-style: none;
}
  
  

h1 {
  text-align: center;
}


/* LIGHT THEME */
.container.light {
  
  background: var(--color-white);
}

/* DARK THEME */
.container.dark {

  background: var(--color-purple);
}